# Variable partagée entre backend et frontend

# --- JWT
# Génère une clé dans ton terminal avec : openssl rand -hex 64
# !!!!!! faire en sorte de cree un algo qui genere une clef jwt a chaque creation jsp quoi 
JWT_SECRET="CHANGE_ME_generate_with_openssl_rand_hex_64"
JWT_EXPIRATION="3h"
