# Variable partagée entre backend et frontend

# --- JWT
# Génère une clé dans ton terminal avec : openssl rand -hex 64
# !!!!!! faire en sorte de cree un algo qui genere une clef jwt a chaque creation jsp quoi 
JWT_SECRET="23908f3e0923c0739ad3b4613f9093a3bff7ecfff4f940f83f8e9ad6ea904585"
JWT_EXPIRATION="3h"
