# --- Database 
# pas localhost le service postgres s'appelle db dans docker
DATABASE_URL="postgresql://user:password@db:5432/transcendence"

# --- Server
PORT=4000
# Origine du frontend
CORS_ORIGIN="https://localhost"

# --- 42 OAuth
FORTYTWO_CLIENT_ID=""
FORTYTWO_CLIENT_SECRET=""
FORTYTWO_CALLBACK_URL="https://localhost/api/auth/42/callback"
