# --- Database 
# pas localhost le service postgres s'appelle db dans docker
DATABASE_URL="postgresql://user:password@db:5432/transcendence"

# --- JWT
# Génère une clé dans ton terminal avec : openssl rand -hex 64
# !!!!!! faire en sorte de cree un algo qui genere une clef jwt a chaque creation jsp quoi 
JWT_SECRET="CHANGE_ME_generate_with_openssl_rand_hex_64"
JWT_EXPIRATION="3h"

# --- Server
PORT=4000
# Origine du frontend
CORS_ORIGIN="https://localhost"

# --- 42 OAuth
FORTYTWO_CLIENT_ID=""
FORTYTWO_CLIENT_SECRET=""
FORTYTWO_CALLBACK_URL="https://localhost/api/auth/42/callback"
